//- catalog-slide

include /components/button/button

mixin catalog-slide({ title, image })
  section.catalog-slide
    figure.catalog-slide__figure
      img.catalog-slide__image(
        src=image
        alt=title
      )
    header.catalog-slide__header
      .catalog-slide__title=title
      .catalog-slide__button
        +button({
          type: 'link',
          label: 'Узнать больше'
        })(
          href='#'
        )
    
    
