/**
* catalog-slide
*/

.catalog-slide {
  $this: &;

  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;

  &__figure {
    display: flex;
    align-items: center;
    width: 440px;
    height: 100%;
    position: absolute;
    right: 24px;
    bottom: 0;
    z-index: -1;
  }

  &__image {
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 45px 90px;
    max-width: 450px;
    height: 100%;
  }

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }

  &__button {
    margin-top: 30px;
  }
}
