/**
* complect
*/

.complect {
  $this: &;

  &__images {
    display: flex;
    flex-flow: row wrap;
    margin: -8px;
  }

  &__image {
    margin: 8px;
  }

  &__lists {
    margin-top: 50px;
  }

  &__list {
  }
}
