//- complect

include /components/list/list

mixin complect({ images, lists})
  .complect
    .complect__images
      each image in images
        img.complect__image(
          src=image
          alt
        )
    .complect__lists
      .grid.is-columns
        each list in lists
          .col-6
            .complect__list
              +list(list)
