/**
* map
*/

.map {
  $map: &;

  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  z-index: 0;

  &__container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $grey;
    filter: grayscale(1);
  }
}
