//- stats

mixin stats(options = {})
  .stats
    h3.stats__title Производственные<br>мощности
    ul.stats__items
      li.stats__item
        .stats__number(
          data-counter='400000'
          data-counter-step='20000'
          data-counter-separate='true'
        ) 400 000
        .stats__caption штук термоусаживаемых муфт
      li.stats__item
        .stats__number(
          data-counter='600000'
          data-counter-step='20000'
          data-counter-separate='true'
        ) 600 000
        .stats__caption штук комплектов для заделки стыков
