/**
* stats
*/

.stats {
  $this: &;

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }

  &__items {
    margin-top: 30px;
  }

  &__item {
    & + & {
      margin-top: 65px;
    }
  }

  &__number {
    color: $white;
    font-weight: $bold;
    font-size: 154px;
    line-height: 1;
    letter-spacing: 0.04em;
    @include textBorder($accent);
  }

  &__caption {
    color: $black;
    font-weight: $regular;
    font-size: 24px;
    line-height: 1.5;
  }
}
