extend ./main

block top

  include /components/header/header
  include /components/footer/footer
  include /components/modal/modal

  block params

block body
  .page.js-page#page

    header.page__header
      +header({
        logo: {
          page
        }
      })

    main.page__content
      .content
        block content

    footer.page__footer(
      class=(page.id == 1 || page.id == 2 || page.id == 11) ? 'is-grey' : null
    )
      +footer
      
    +modal

    block afterFooter

block bottom

  block scripts
