//- product-card

include /components/notice/notice
include /components/section/section
include /components/complect/complect

mixin product-card(options = {})
  .product-card#product-card
    .product-card__header
      .container
        .product-card__info
          .grid.is-row
            .col-6.shift-1
              .product-card__descr.text
                p Мы рекомендуем использовать комплект для заделки стыков теплоизолированных ППУ трубопроводов производства компании СМИТ. Этот набор включает в себя специально подобранные компоненты для заделки стыкового соединения, позволяющие изолировать стыковые соединения быстро и качественно.
                p Полимерные и штучные материалы из полиэтилена, входящие в состав КЗС СМИТ, не подвержены коррозии, имеют низкую водо- паро- и газопроницаемость, а также высокую химическую стойкость к кислым и щелочным средам.
            .col-3.shift-1
              .product-card__notice
                +notice({
                  title: 'ГОСТ 30732-2006',
                  text: 'Трубы и фасонные изделия стальные с тепловой изоляцией из пенополиуретана с защитной оболочкой'
                })
              .product-card__notice
                +notice({
                  title: 'ГОСТ 24297-2013',
                  text: 'Верификация закупленной продукции'
                })

    .product-card__body
      .product-card__section
        +section({
          title: 'Комплектация',
          classList: ['has-small-title'],
          totop: true
        })
          +complect({
            images: ['/img/complect-2.jpg', '/img/complect-1.jpg'],
            lists: [
              {
                title: 'Детали',
                items: [
                  '1 - Муфта термоусаживаемая (1 шт.)',
                  '2 - Лента термоусаживаемая (2 шт.)',
                  '3 - Пластина замковая (2 шт.)',
                  '4 - Лента клеевая (2 шт.)',
                  '5 - Пробка дренажная (1 шт.)',
                  '6 - Пробка герметезирующая (1 шт.)',
                ]
              },
              {
                title: 'Паспорт',
                items: [
                  '1. Набор полимерных материалов',
                  '2. Юридический адрес',
                  '3. Условное обозначение КЗС',
                  '4. Обозначение технических условий',
                  '5. Номер и размер партии',
                  '6. Дата изготовления',
                  '7. Условия хранения и условия хранения и транспортировки',
                  '8. Гарантии изготовителя',
                  '9. Штамп отдела технического контроля изготовителя',
                ]
              },
            ]
          })

      .product-card__section
        +section({
          title: 'Технические характеристики',
          classList: ['has-small-title'],
          totop: true
        })
          .text
            table
              thead
                tr
                  th(rowspan=2) d,мм
                  th(colspan=2) Муфта<br>термоусаживаемая
                  th(colspan=3) Лента<br>термоусаживаемая
                  th(colspan=3) Пластина<br>замковая
                  th(colspan=3) Лента<br>клеевая
                  th(colspan=2) Пробка<br>дренажная
                  th(colspan=2) Пробка<br>герметезирующая 
                tr
                  th Dп,мм
                  th L,мм
                  th В,мм
                  th I,мм
                  th S,мм
                  th В,мм
                  th I,мм
                  th S,мм
                  th В,мм
                  th I,мм
                  th S,мм
                  th ?,мм
                  th кол-во
                  th ?,мм
                  th кол-во
              tbody
                tr
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                tr
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                tr.selected
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                tr
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
                  td 32
