/**
* product-card
*/

.product-card {
  $this: &;

  &__header {
    padding: 0 0 90px;
    background-color: $softgrey;

    &.is-grey {
    }
  }

  &__info {
  }

  &__descr {
    color: $dark;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }

  &__notice {
    & + & {
      margin-top: 25px;
    }
  }

  &__body {
    padding: 90px 0;
  }

  &__section {
    & + & {
      margin-top: 90px;
    }
  }
}
