/**
* text
*/

.text {
  $this: &;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;

    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  a {
    color: $accent;
    transition: ease color 300ms;

    &:hover {
      color: $second;
    }
  }

  strong,
  b {
    color: $black;
    font-style: italic;
    font-weight: $semibold;
  }

  img {
    display: block;
    margin: 1.5em 0;
  }

  h3,
  h4,
  h5,
  h6 {
    & + p,
    & + ul,
    & + ol {
      margin-top: 1em;
    }
  }

  ul {
    padding: 0;
    position: relative;
    list-style: none;

    li {
      padding-left: 15px;
      position: relative;
      color: $dark;
      font-weight: $medium;
      font-size: 15px;
      line-height: 1.733;
      letter-spacing: -0.02em;

      &::before {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        position: absolute;
        left: 0;
        top: 11px;
        background-color: $second;
      }
    }

    li + li {
      margin-top: 15px;
    }
  }

  blockquote,
  img,
  p,
  ul {
    margin: 1.5em 0;

    &:last-child:first-child {
      margin: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    margin: 1.3em 0;
    position: relative;
    color: $black;
    font-style: normal;
    font-size: 22px;
    line-height: 1.4;

    &:first-child {
      margin-top: 0;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: $accent;

      tr + tr {
        border-top: 1px solid $white;
      }

      td,
      th {
        padding: 15px 10px;
        color: $white;
        font-size: 15px;
        font-weight: $regular;
        line-height: 1.37;
        text-align: center;
        border-left: 1px solid $white;
      }
    }

    tbody {
      border: 1px solid #e4e4e4;
      border-top: none;
      table-layout: fixed;

      td {
        padding: 15px 10px;
        color: $black;
        font-size: 16px;
        text-align: center;
        line-height: 1.68;
      }

      td + td {
        border-left: 1px solid #e4e4e4;
      }

      tr {
        border-top: 1px solid #e4e4e4;
        vertical-align: top;
      }

      tr.selected {
        background-color: $softgrey;
      }
    }
  }
}
