//- products

include /components/product/product

mixin products({ title, amount, products = [] })
  section.products
    if title
      header.products__header
        h2.products__title
          a.products__title-link(
            href='category.html'
            title=title
          )=title
          if amount
            span.products__amount=amount
    ul.products__list
      each product in products
        li.products__item
          +product(product)
