/**
* products
*/

.products {
  $this: &;

  &__header {
    display: flex;
    align-items: baseline;
  }

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;

    &-link {
      color: currentColor;
      text-decoration: none;
      transition: ease color 200ms;

      &:hover {
        color: $accent;
      }
    }
  }

  &__amount {
    margin-left: 15px;
    color: $white;
    font-weight: $bold;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.04em;
    white-space: nowrap;

    @include textBorder($accent, 1);
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
  }

  &__item {
    width: 33.33%;
    border: 1px solid $linegrey;

    & + &:not(:nth-child(3n + 4)) {
      border-left: none;
    }

    &:nth-child(3) ~ & {
      border-top: none;
    }
  }
}
