/**
* accordion-item
*/

.accordion-item {
  $this: &;

  &.is-open {
    #{$this}__header {
      &::after {
        background-image: url(/img/close.svg);
      }
    }
  }

  .js & {
    #{$this}__body {
      display: none;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 20px 0;
    outline: none;
    color: $black;
    transition: ease color 300ms;
    cursor: pointer;

    &:hover {
      color: $second;
    }

    &::after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 30px;
      flex-shrink: 0;
      background-image: url(/img/accordion-arrow.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__title {
    flex-grow: 1;
    margin: 0;
    color: currentColor;
    font-weight: $semibold;
    font-size: 24px;
    line-height: 1.33;
  }

  &__body {
    margin: 0;
    padding: 0 0 20px;
  }

  &__text {
    color: $dark;
    font-weight: $medium;
    font-size: 18px;
    line-height: 1.67;
  }
}
