//- accordion-item

mixin accordion-item({ label, text, opened })
  .accordion-item.js-accordion-item(
    class=opened && 'is-open'
  )
    .accordion-item__header.js-accordion-item-header(
      tabindex=0
    )
      h3.accordion-item__title=label
    .accordion-item__body.js-accordion-item-body
      .accordion-item__text.text
        p Извечный вопрос, задаваемый всяким, кто начинает задумываться об открытии собственной арены. В общих чертах на него можно ответить встречным вопросом: А что лучше - хоккей или фигурное катание? Как видно, однозначно ответить тут нельзя - несмотря на то, что и хоккей, и фигурное катание имеют в своей основе общие принципы - катание на коньках по льду, по сути своей они настолько различны, что вопрос о том, что лучше, однозначно выглядит неуместным. Это же верно и для вопроса о том, какой тип тэга лучше.
