//- gallery

include /components/gallery-item/gallery-item

mixin gallery({ items })
  .gallery.js-gallery
    .container
      .gallery__body
        ul.gallery__list.grid.is-columns
          each item in items
            li.gallery__item.col-4.js-gallery-item
              +gallery-item(item)
