//- story-slider

mixin story-slider({ images, swiper })
  .story-slider.js-story-slider(
    data-options=swiper
  )
    .story-slider__container.js-story-slider-container
      ul.story-slider__list.js-story-slider-list
        each image in images
          li.story-slider__item.js-story-slider-item
            img(
              src=image
              alt=''
            )

    .story-slider__controls
      button.story-slider__arrow.is-prev.js-story-slider-prev
      .story-slider__counter.js-story-slider-counter=`1 / ${images.length}`
      button.story-slider__arrow.is-next.js-story-slider-next

