/**
* logo
*/

.logo {
  $this: &;

  display: block;
  width: 206px;
  height: 50px;
  background-image: url('/img/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  text-decoration: none;

  @media (max-width: 1340px) {
    width: 166px;
    height: 40px;
  }
}
