//- footer

include /components/social/social

mixin footer(params)
  .footer
    .footer__left
      .footer__copy © 2019 ООО “СМИТ-изоляция”
    .footer__center
      .footer__social
        +social([
          { type: 'instagram', name: 'Instagram' },
          { type: 'youtube', name: 'Youtube' }
        ], 'Мы в социальныех сетях', ['alt'])
        
    .footer__right
      button.footer__policy(
        data-modal='policy'
      ) политика обработки персональных данных
