/**
* footer
*/

.footer {
  $this: &;

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $maxwidth2;
  min-width: $maxwidth;
  margin: auto;
  padding: 50px 0;
  color: $black;
  font-weight: $bold;
  font-size: 18px;
  line-height: 1;

  &__left,
  &__center,
  &__right {
    flex: 1;
  }

  &__center {
    text-align: center;
  }

  &__right {
    text-align: right;
  }

  &__copy {
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__policy,
  &__dc {
    flex: 1;
    color: currentColor;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }
  }

  &__policy {
    padding: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
  }

  &__dc {
  }
}
