/**
* form
*/

.form {
  $this: &;

  position: relative;

  &__control {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    line-height: 1;

    &.is-required {
      #{$this}__label {
        &::after {
          content: '*';
          margin-left: 3px;
          color: $second;
        }
      }
    }

    & + & {
      margin-top: 25px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    position: relative;
    color: #7a7d7e;
    font-size: 24px;
    line-height: 1.5;
  }

  &__field {
    display: block;
  }

  &__select {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  &__agreement {
    color: #666a6c;
    font-weight: $medium;
    font-size: 18px;
    line-height: 1.5;

    a {
      color: currentColor;
      // text-decoration: none;
      transition: ease 300ms color;

      &:hover {
        color: $accent;
      }
    }
  }

  &__link {
    display: inline-block;
    color: $accent;
    font-weight: $semibold;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
      color: $second;
    }
  }
}
