//- nav

mixin nav({ items })
  nav.nav
    ul.nav__list
      each item in items
        li.nav__item(
          class=item.subitems ? 'has-dropmenu' : null
        )
          a.nav__link(
            href=item.url
            title=item.title
          )=item.title

          if item.subitems
            .nav__dropmenu
              ul.nav__sublist
                each subitem in item.subitems
                  li.nav__subitem
                    a.nav__sublink(
                      href='/category.html'
                      title=subitem
                    )=subitem
