/**
* nav
*/

.nav {
  $this: &;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    z-index: 0;
    color: $dark;
    font-size: 16px;
    font-weight: $bold;
    line-height: 1;

    & + & {
      margin-left: 30px;
    }

    &:hover {
      #{$this}__link {
        color: $accent;
      }
    }

    &.has-dropmenu {
      display: flex;
      align-items: center;

      &:hover,
      &:focus-within {
        #{$this}__dropmenu {
          display: block;
        }

        #{$this}__link {
          color: $accent;
        }

        &::after {
          transform: scale(1) translateY(-1px);
        }
      }

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 5px;
        position: relative;
        top: 2px;
        background-image: url(/img/dropdown.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        transform: scale(-1);
        transition: ease transform 200ms;
      }
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    white-space: nowrap;
    transition: ease color 300ms;
  }

  &__label {
    color: $accent;
    cursor: default;
  }

  &__dropmenu {
    display: none;
    width: calc(100% + 40px);
    min-width: 140px;
    padding: 20px;
    padding-top: 50px;
    position: absolute;
    top: calc(100% - 30px);
    left: -20px;
    z-index: -1;
    background-color: $white;
    border-radius: 10px;
  }

  &__sublist {
  }

  &__subitem {
    color: $black;
    font-weight: $bold;
    font-size: 16px;
    line-height: 1.3;

    & + & {
      margin-top: 10px;
    }
  }

  &__sublink {
    color: currentColor;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }
  }

  @media (max-width: 1340px) {
    &__item {
      font-size: 15px;

      & + & {
        margin-left: 20px;
      }
    }
  }
}
