/**
* links
*/

.links {
  $this: &;

  padding-right: 20px;

  &__item {
    & + & {
      margin-top: 10px;
    }
  }

  &__link {
    display: inline-block;
    color: $dark;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.42;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }
  }
}
