/**
* not-found
*/

.not-found {
  $this: &;

  display: flex;
  justify-content: space-between;
  padding: 150px 0 100px;

  &::after {
    content: "404";
    display: block;
    width: 337px;
    height: 147px;
    flex-shrink: 0;
    color: $white;
    font-weight: $bold;
    font-size: 154px;
    line-height: 1;
    letter-spacing: 0.04em;
    @include textBorder($accent);
  }

  &__body {
    max-width: 700px;
  }

  &__text {
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: (64 / 56);
  }

  &__button {
    max-width: 360px;
    margin-top: 50px;
  }
}
