//- not-found

include /components/button/button

mixin not-found(options = {})
  .not-found
    .not-found__body
      p.not-found__text Упс! Кажется, что&nbsp;такой страницы не&nbsp;существует или&nbsp;введен неверный адрес
      .not-found__button
        +button({
          label: 'На главную',
          type: 'link'
        })(
          class='is-large is-wide'
          href='/'
        )
