/**
* subscribe
*/

.subscribe {
  $this: &;

  width: 100%;
  height: 100%;
  padding: 80px 70px;
  position: relative;
  background-color: $grey;
  border-radius: 10px;
  background-image: url(/img/subscribe-circles-1.png), url(/img/subscribe-circles-2.png);
  background-repeat: no-repeat;
  background-position: 100% 100%, 0 0;
  background-size: auto;

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.16;
  }

  &__caption {
    margin-top: 10px;
    color: $black;
    font-size: 18px;
    line-height: 2;
  }

  &__social {
    margin-top: 20px;
  }
}
