//- subscribe

include /components/social/social

mixin subscribe(options = {})
  section.subscribe
    h3.subscribe__title Подписывайтесь на&nbsp;наши социальные сети и&nbsp;узнавайте о&nbsp;наших обновлениях
    p.subscribe__caption Публикуем только интересное и полезное
    .subscribe__social
      +social([
        { type: 'instagram', name: 'Instagram' },
        { type: 'vk', name: 'Вконтакте' },
        { type: 'facebook', name: 'Facebook' }
      ])
