//- showcase-slider

mixin showcase-slider({ slides, swiper })
  .showcase-slider.js-showcase-slider(
    data-options=swiper
  )
    .showcase-slider__container.js-showcase-slider-container
      ul.showcase-slider__list.js-showcase-slider-list
        each slide in slides
          li.showcase-slider__item.js-showcase-slider-item(
            style='background-image: url('+ slide.image + ')'
            data-title=slide.title
            data-text=slide.text
          )

    .showcase-slider__content
      .showcase-slider__content-container.container
        .showcase-slider__box
          .showcase-slider__title.js-showcase-slider-title
          .showcase-slider__text.js-showcase-slider-text
          .showcase-slider__controls
            button.showcase-slider__arrow.is-prev.js-showcase-slider-prev
            .showcase-slider__counter.js-showcase-slider-counter=`1 / ${slides.length}`
            button.showcase-slider__arrow.is-next.js-showcase-slider-next
