/**
* showcase-slider
*/

.showcase-slider {
  $this: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 1230px;
  height: 100vh;
  max-height: 1080px;
  min-height: 800px;
  position: relative;
  z-index: 0;

  .js & {
    &::after {
      content: "";
      display: block;
      width: 120px;
      height: 120px;
      position: absolute;
      top: calc(50% - 60px);
      left: calc(50% - 60px);
      z-index: 1;
      background-image: url(/img/spinner.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    #{$this}__content,
    #{$this}__container {
      opacity: 0;
      pointer-events: none;
      transition: ease opacity 200ms;
    }
  }

  &.is-inited {
    &::after {
      display: none;
    }

    #{$this}__container {
      opacity: 1;
      pointer-events: all;
    }

    #{$this}__content {
      opacity: 1;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__list {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition-property: transform;
    will-change: transform;
  }

  &__item {
    display: block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: 60px 0;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  &__content-container {
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  &__box {
    width: 100%;
    max-width: 605px;
    padding: 45px;
    background-color: $grey;
    border-radius: 10px;
    pointer-events: all;
  }

  &__title {
    color: $accent;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }

  &__text {
    margin-top: 10px;
    color: $dark;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.33;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  &__counter {
    margin: 0 30px;
    color: $black;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1;
    text-align: center;
  }

  &__arrow {
    display: inline-block;
    width: 40px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(/img/slider-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;

    &.is-prev {
      transform: rotate(180deg);
    }

    &.is-next {
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .swiper-notification {
    display: none;
  }
}
