//- product-slider

mixin product-slider({ items, swiper })
  .product-slider.js-product-slider(
    data-options=swiper
  )
    .product-slider__container.js-product-slider-container
      ul.product-slider__list.js-product-slider-list
        each item in items
          li.product-slider__item.js-product-slider-item(
            style='background-image: url(' + item.image + ')'
          )

    .product-slider__content
      .container
        .product-slider__footer
          .product-slider__button
            +button({
              label: 'Заказать расчет'
            })(
              data-modal='callback'
            ).is-medium

          .product-slider__controls
            button.product-slider__arrow.is-prev.js-product-slider-prev
            .product-slider__counter.js-product-slider-counter=`1 / ${items.length}`
            button.product-slider__arrow.is-next.js-product-slider-next
