//- section

mixin section({ title, classList, totop })
  section.section(
    class=classList
  )
    .container
      header.section__header
        if title
          h2.section__title!=title

        if totop
          a.section__totop(
            title='Вверх'
            href='#page'
            data-scroll-to
          )
      if block
        .section__body
          block
