/**
* section
*/

.section {
  $this: &;

  position: relative;

  &.has-small-title {
    #{$this}__title {
      font-size: 56px;
      line-height: 1.14;
    }

    #{$this}__header + #{$this}__body {
      margin-top: 50px;
    }
  }

  &.is-softgrey {
    background-color: $softgrey;
  }

  &.has-padding {
    padding: 90px 0;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    color: $black;
    font-weight: $bold;
    font-size: 80px;
    line-height: 1;
  }

  &__totop {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    position: relative;
    top: 5px;
    background-color: transparent;
    border: none;
    background-image: url(/img/totop.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    text-decoration: none;
    cursor: pointer;
    transition: ease transform 300ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__body {
  }

  &__header + &__body {
    margin-top: 70px;
  }
}
