/**
* dc
*/

.dc {
  $dc: &;

  display: inline-block;
  width: 145px;
  height: 26px;
  position: relative;

  &__text {
    position: absolute;
    right: 38px;
    bottom: 6px;
    color: $linegrey;
    font-size: 15px;
    font-weight: $medium;
    line-height: 1;
    letter-spacing: -0.01em;
    white-space: nowrap;
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    will-change: transform, opacity;
  }

  &__logo {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('/img/dc-logo.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transition: transform 350ms ease-out;
    will-change: transform;
  }

  &__label {
    position: absolute;
    right: 0;
    bottom: 6px;
    color: $linegrey;
    font-size: 15px;
    font-weight: $medium;
    line-height: 1;
    opacity: 0;
    transform: translateX(20px);
    transition: transform 300ms ease-out, opacity 300ms ease-out;
    will-change: transform, opacity;
  }

  &:focus,
  &:hover {
    #{$dc}__text {
      transform: translateX(-20px);
      opacity: 0;
    }

    #{$dc}__logo {
      transform: translateX(-122px);
    }

    #{$dc}__label {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
