/**
* notice
*/

.notice {
  $this: &;

  color: $dark;

  &__title {
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.42;
  }

  &__text {
    margin-top: 5px;
    font-weight: $regular;
    font-size: 18px;
    line-height: 1.33;
  }
}
