/**
* manager
*/

.manager {
  $this: &;

  min-height: 500px;
  padding: 70px;
  position: relative;
  border-radius: 10px;
  background-color: $softgrey;
  background-image: url(/img/circle.svg), url(/img/director.png);
  background-repeat: no-repeat;
  background-position: -80px 92%, 100% 100%;
  background-size: 160px 160px, auto;

  &__body {
    max-width: 600px;
  }

  &__notice {
    color: $black;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.33;

    em {
      color: $accent;
      font-style: normal;
    }
  }

  &__caption {
    margin-top: 20px;
    color: #878a8b;
  }

  &__button {
    margin-top: 40px;
  }
}
