//- manager

include /components/button/button

mixin manager(options = {})
  .manager
    .manager__body
      p.manager__notice <em>Профессиональный подход к&nbsp;делу плюс высокий уровень ответственности позволяют</em> в&nbsp;итоге создать продукт, которым мы&nbsp;гордимся 
      p.manager__caption Иван Иванов - директор компании
      .manager__button
        +button({
          label: 'Написать директору'
        })(
          data-modal='callback'
          class='is-large'
        )
