/**
* headline
*/

.headline {
  $this: &;

  padding-top: 50px;

  &.is-grey {
    background-color: $softgrey;
  }

  &__breadcrumb {
  }

  &__back {
    color: $dark;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }
  }

  &__breadcrumb + &__heading,
  &__back + &__heading {
    margin-top: 25px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    color: $black;
    font-weight: $bold;
    font-size: 80px;
    line-height: 1.07;
  }

  &__link {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    color: $black;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.5;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 18px;
      background-image: url(/img/download.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__social {
    margin-left: 20px;
    position: relative;
    top: 10px;
  }

  &__caption {
    margin: 0;
    margin-top: 25px;
    color: $accent;
    font-style: italic;
    font-weight: $medium;
    font-size: 15px;
    line-height: 1.86;
  }
}
