//- headline

include /components/breadcrumb/breadcrumb
include /components/social/social

mixin headline({ classList, breadcrumb, backLink, title, link, caption, social })
  .headline(
    class=classList
  )
    .container
      if breadcrumb
        .headline__breadcrumb
          +breadcrumb(breadcrumb)

      if backLink
        a.headline__back(
          href='catalog.html'
        )=backLink

      .headline__heading
        h1.headline__title=title

        if link
          a.headline__link(
            href='#'
            download
          )=link

        if social
          .headline__social
            +social(social)

      if caption
        p.headline__caption=caption
