//- policy

mixin policy(options = {})
  article.policy
    header.policy__header
      h2.policy__title Политика конфиденциальности
    .policy__body
      .text
        p Настоящее соглашение является официальным документом ИП Антонюшенкова pПетра Ивановича, ОГРН 304673120200540, ИНН 673100632592 (далее – Администратор) и определяет порядок использования посетителями (далее - Посетитель) сайта zip-sm.ru (сайта Администратора) и обработки информации, получаемой Администратором от Посетителя.
        p 1. Соглашение может быть изменено Администратором в одностороннем порядке в любой момент, без какого-либо специального уведомления Посетителя Сайта.
        p 2. В случае, если при использовании Посетителями Сайта Администратору будет сообщена какая-либо информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (далее – Персональные данные), ее последующая обработка будет осуществляться в соответствии с законодательством Российской Федерации. В отношении всех сообщаемых Персональных данных Посетитель дает Администратору согласие на их обработку. Администратор обрабатывает персональные данные Посетителя исключительно в целях предоставления Посетителю функций Сайта, размещенного на нем контента, маркетинговой, рекламной, иной информации, в целях получения Посетителем персонализированной (таргетированной) рекламы, исследования и анализа данных Посетителя, а также в целях предложения Посетителю своих товаров и услуг. В отношении всех сообщенных Администратору Посетителем своих персональных данных Администратор вправе осуществлять сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передача любым третьим лицам, включая передачу персональных данных третьим лицам на хранение или в случае поручения обработки персональных данных третьим лицам), обезличивание, блокирование, уничтожение, трансграничную передачу, обработку с применением основных способов такой обработки (хранение, запись на электронных носителях и их хранение, составление перечней, маркировка) 
