/**
* policy
*/

.policy {
  $this: &;

  padding: 15px 40px;

  &__header {
  }

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 64px;
    line-height: (75 / 64);
  }

  &__body {
    margin-top: 30px;
    font-size: 18px;
    line-height: (24 / 18);
  }
}
