/**
* reviews-slider
*/

.reviews-slider {
  $this: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 160px 0;
  position: relative;
  z-index: 0;
  background-image: url(/img/decor-circles.png);
  background-repeat: no-repeat;
  background-position: 470px 130%;
  background-size: 1480px 660px;

  .js & {
    &::after {
      content: "";
      display: block;
      width: 120px;
      height: 120px;
      position: absolute;
      top: calc(50% - 60px);
      left: calc(50% - 60px);
      z-index: 1;
      background-image: url(/img/spinner.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    #{$this}__header,
    #{$this}__body,
    #{$this}__footer {
      opacity: 0;
      pointer-events: none;
      transition: ease opacity 200ms;
    }
  }

  &.is-inited {
    &::after {
      display: none;
    }

    #{$this}__header,
    #{$this}__body,
    #{$this}__footer {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__header {
  }

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 78px;
    line-height: 1.07;
  }

  &__body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 80px;
  }

  &__list {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition-property: transform;
    will-change: transform;
  }

  &__item {
    display: block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
  }

  &__footer {
    margin-top: 50px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__counter {
    margin: 0 30px;
    color: $black;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1;
    text-align: center;
  }

  &__arrow {
    display: inline-block;
    width: 40px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(/img/slider-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;

    &.is-prev {
      transform: rotate(180deg);
    }

    &.is-next {
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .swiper-notification {
    display: none;
  }
}
