//- reviews-slider

include /components/review/review

mixin reviews-slider({ reviews, swiper })
  section.reviews-slider.js-reviews-slider(
    data-options=swiper
  )
    .container
      header.reviews-slider__header
        .grid.is-row
          .col-8.shift-4
            h2.reviews-slider__title Лучшая оценка качества - отзывы наших клиенто

      .reviews-slider__body.js-reviews-slider-container
        ul.reviews-slider__list.js-reviews-slider-list
          each review in reviews
            li.reviews-slider__item.js-reviews-slider-item
              +review(review)

      footer.reviews-slider__footer
        .grid.is-row
          .col-8.shift-4
            .reviews-slider__controls
              button.reviews-slider__arrow.is-prev.js-reviews-slider-prev
              .reviews-slider__counter.js-reviews-slider-counter=`1 / ${reviews.length}`
              button.reviews-slider__arrow.is-next.js-reviews-slider-next
