extend /layouts/default

block params

  - page.id = 10
  - page.title = 'Страница не найдена'

  include /components/not-found/not-found

block content

  .content__section
    .container
      +not-found
