extend /layouts/default

block params

  - page.id = 11
  - page.title = 'О компании'

  include /components/delivery/delivery
  include /components/story-slider/story-slider
  include /components/showcase-slider/showcase-slider
  include /components/reviews-slider/reviews-slider
  include /components/target/target
  include /components/polls/polls
  include /components/contacts/contacts

block content

  .content__story
    .story.is-alt
      .container
        .story__top
          .grid.is-row
            .col-4
              .story__decor
            .col-8
              .story__header
                h2.story__title СМИТ - там,<br>где важна надежность!
                p.story__descr В&nbsp;2010 году, группа СМИТ перестраивает свою структуру, сфокусировавшись на&nbsp;стратегических заказчиках отрасли и&nbsp;комплексных решениях. 

        .story__slider
          +story-slider({
            images: ['/img/story-slider-1.jpg', '/img/story-slider-2.jpg', '/img/story-slider-3.jpg']
          })

        .story__bottom
          .grid.is-row
            .col-7.shift-4
              p.story__notice Создается СМИТ-Изоляция (производство и реализация муфт и КЗС)

  .content__target
    +target(true)

  .content__polls
    +polls({
      items: [
        { year: 2015, value: 220000 },
        { year: 2016, value: 300000 },
        { year: 2017, value: 330000 },
        { year: 2018, value: 350000 },
        { year: 2019, value: 370000 },
      ]
    })

  .content__showcase
    +showcase-slider({
      slides: [
        {
          title: 'Контроль качества',
          text: 'Мы тщательно следим за входным и выходныи контролем качества продукции. Только качественны и современные материалы',
          image: '/img/showcase-1.jpg'
        },
        {
          title: 'Контроль качества',
          text: 'Мы тщательно следим за входным и выходныи контролем качества продукции. Только качественны и современные материалы',
          image: '/img/showcase-2.jpg'
        },
        {
          title: 'Контроль качества',
          text: 'Мы тщательно следим за входным и выходныи контролем качества продукции. Только качественны и современные материалы',
          image: '/img/showcase-3.jpg'
        },
        {
          title: 'Контроль качества',
          text: 'Мы тщательно следим за входным и выходныи контролем качества продукции. Только качественны и современные материалы',
          image: '/img/showcase-4.jpg'
        },
        {
          title: 'Контроль качества',
          text: 'Мы тщательно следим за входным и выходныи контролем качества продукции. Только качественны и современные материалы',
          image: '/img/showcase-5.jpg'
        },
      ]
    })

  .content__delivery
    +delivery(true)

  .content__reviews
    +reviews-slider({
      reviews: [
        {
          text: '«Спасибо большое компании и ее работникам за то, что качественно выполняете свои обязанности и делаете это великолепно! Расчитываю на дальнейшую продуктивную работу с вами»',
          author: 'Директор по строительству Рыцев И.Н. компании Росатом',
          doc: {
            src: '/img/review.jpg',
            caption: 'Благодарственное письмо'
          }
        },
        {
          text: '«Спасибо большое компании и ее работникам за то, что качественно выполняете свои обязанности и делаете это великолепно! Расчитываю на дальнейшую продуктивную работу с вами»',
          author: 'Директор по строительству Рыцев И.Н. компании Росатом',
          doc: {
            src: '/img/review.jpg',
            caption: 'Благодарственное письмо'
          }
        },
      ]
    })

  .content__contacts
    +contacts({})
