extend /layouts/default

block params

  - page.id = 9
  - page.title = 'Вот и подошла к концу выставка «Метал-Экспо 2019»'

  include /components/headline/headline
  include /components/gallery/gallery
  include /components/gallery-slider/gallery-slider

block content

  .content__headline
    +headline({
      title: page.title,
      breadcrumb: {
        items: [
          { title: 'Галерея', url: 'gallery.html' }
        ],
        hideHomepage: true
      },
    })

  .content__gallery
    +gallery({
      items: [
        {
          className: 'js-gallery-image',
          image: '/img/gallery-1.jpg',
          source: '/img/gallery-1.jpg',
          title: '',
        },
        {
          className: 'js-gallery-image',
          image: '/img/gallery-1.jpg',
          source: '/img/gallery-1.jpg',
          title: '',
        },
        {
          className: 'js-gallery-image',
          image: '/img/gallery-1.jpg',
          source: '/img/gallery-1.jpg',
          title: '',
        },
        {
          className: 'js-gallery-image',
          image: '/img/gallery-1.jpg',
          source: '/img/gallery-1.jpg',
          title: '',
        },
        {
          className: 'js-gallery-image',
          image: '/img/gallery-1.jpg',
          source: '/img/gallery-1.jpg',
          title: '',
        },
        {
          className: 'js-gallery-image',
          image: '/img/gallery-1.jpg',
          source: '/img/gallery-1.jpg',
          title: '',
        },
        {
          className: 'js-gallery-image',
          image: '/img/gallery-1.jpg',
          source: '/img/gallery-1.jpg',
          title: '',
        },
      ]
    })

block afterFooter
  +gallery-slider
