extend /layouts/default

block params

  - page.id = 2
  - page.title = 'Каталог продукции'

  include /components/headline/headline
  include /components/catalog/catalog
  include /components/catalog-form/catalog-form
  include /components/contact-form/contact-form

block content

  .content__headline
    +headline({
      title: page.title,
      link: 'Скачать каталог'
    })

  .content__catalog
    +catalog

  .content__form
    +catalog-form
      +contact-form
