extend /layouts/default

block params

  - page.id = 3
  - page.title = 'Комплект заделки стыков'

  include /components/headline/headline
  include /components/category/category
  include /components/catalog-form/catalog-form
  include /components/contact-form/contact-form
  include /components/section/section
  include /components/docs/docs
  include /components/cats/cats

block content

  .content__headline
    +headline({
      backLink: 'Назад к каталогу',
      title: page.title
    })

  .content__category
    +category

  .content__docs
    +section({
      title: 'Каталоги и брошюры',
      classList: ['has-small-title', 'has-padding', 'is-softgrey']
    })
      +docs({
        docs: [
          {
            img: "/img/doc-1.jpg",
            title: 'Технологический каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
          {
            img: "/img/doc-2.jpg",
            title: 'Презентационный каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
          {
            img: "/img/doc-3.jpg",
            title: 'Технологический каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
          {
            img: "/img/doc-1.jpg",
            title: 'Технологический каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
        ]
      })

  .content__form
    +catalog-form
      +contact-form


  .content__section
    +section({
      title: 'Другая продукция',
      classList: ['has-small-title']
    })
      +cats({
        cats: [
          { img: "/img/cat-1.png", title: 'Муфты' },
          { img: "/img/cat-2.png", title: 'Переходы ПЭ' },
          { img: "/img/cat-4.png", title: 'Нагревательный электросварной элемент' }
        ] 
      })
