extend /layouts/default

block params

  - page.id = 5
  - page.title = 'Контакты'

  include /components/headline/headline
  include /components/contacts/contacts
  include /components/contact/contact

block content

  .content__headline
    +headline({
      title: page.title
    })

  .content__contacts
    .contacts.is-page
      .container
        .contacts__section
          .grid.is-row
            .col-5
              +contact({
                content: 'Смоленская область, г.&nbsp;Ярцево ул.&nbsp;2-я Машиностроительная, стр.&nbsp;10'
              })
              
            .col-6.shift-1
              +contact({
                content: 'Генеральный директор компании - Иванов И.И.',
                button: {
                  label: 'Написать',
                  attrs: {
                    'data-modal': 'contact',
                    class: 'is-large is-wide'
                  }
                }
              })
        .contacts__section
          .grid.is-row
            .col-5
              .contacts__contact
                +contact({
                  label: 'Отдел продаж',
                  content: '+7 (499) 350-24-45<br><a href="mailto:izol@smit.su">izol@smit.su</a>'
                })
              .contacts__contact
                +contact({
                  label: 'Отдел снабжения',
                  content: '+7 (499) 350-24-45<br><a href="mailto:izol@smit.su">izol@smit.su</a>'
                })
              .contacts__contact
                +contact({
                  label: 'Бухгалтерия',
                  content: '+7 (499) 350-24-45<br><a href="mailto:izol@smit.su">izol@smit.su</a>'
                })
              .contacts__contact
                +contact({
                  label: 'Отдел кадров',
                  content: '8 (800) 100-65-46<br>ok@smit.su',
                  button: {
                    label: 'Смотреть вакансии',
                    type: 'link',
                    attrs: {
                      href: '#',
                      class: 'is-large is-wide'
                    }
                  }
                })


            .col-6.shift-1
              .contacts__map
                +map({
                  options: {
                    center: [55.830057600359595,37.458438893886715], 
                    zoom: 17,
                    markers: [
                      {
                        address: '214013, Смоленск, Черняховского 6',
                        coords: [55.830057600359595,37.458438893886715],
                        image: {
                          href: '/img/marker.svg',
                          size: [50, 44],
                          offset: [-25, -44]
                        }
                      },
                    ]
                  },
                  caption: '142832, г. Москва, ул. Набережная, д. 12, офис 603'
                })

