extend /layouts/default

block params

  - page.id = 8
  - page.title = 'Галерея'

  include /components/headline/headline
  include /components/albums/albums

block content

  .content__headline
    +headline({
      title: page.title,
      social: [
        { type: 'instagram', name: 'Instagram' },
        { type: 'vk', name: 'Вконтакте' },
        { type: 'facebook', name: 'Facebook' }
      ]
    })

  .content__albums
    .container
      +albums({
        items: [
          {
            classList: ['is-large'],
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-1.jpg',
            date: '01.11.2019'
          },
          {
            title: "История “Как мы доставляли продукцию в Европу”",
            img: '/img/post-2.jpg',
            type: 'foto',
            date: '01.11.2019'
          },
          {
            title: "История “Как мы доставляли продукцию в Европу”",
            img: '/img/post-3.jpg',
            date: '01.11.2019'
          },
          {
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-4.jpg',
            type: 'video',
            date: '01.11.2019'
          },
          {
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-1.jpg',
            type: 'foto',
            date: '01.11.2019'
          },
          {
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-1.jpg',
            date: '01.11.2019'
          },
          {
            title: "История “Как мы доставляли продукцию в Европу”",
            img: '/img/post-2.jpg',
            date: '01.11.2019'
          },
          {
            title: "История “Как мы доставляли продукцию в Европу”",
            img: '/img/post-3.jpg',
            date: '01.11.2019'
          },
        ]
      })
