extend /layouts/default

block params

  - page.id = 1
  - page.title = 'Главная'

  include /components/slider/slider
  include /components/story/story
  include /components/section/section
  include /components/cats/cats
  include /components/target/target
  include /components/fotostream/fotostream
  include /components/delivery/delivery
  include /components/contacts/contacts

block content
  .content__slider
    +slider({ items: [
      { image: '/img/main-slide-1.png' },
      { image: '/img/main-slide-2.png' },
      { image: '/img/main-slide-3.png' },
      { image: '/img/main-slide-4.png' },
      { image: '/img/main-slide-5.png' },
      { image: '/img/main-slide-6.png' },
      { image: '/img/main-slide-7.png' },
      { image: '/img/main-slide-8.png' },
      { image: '/img/main-slide-9.png' },
      { image: '/img/main-slide-10.png' },
      { image: '/img/main-slide-11.png' },
      { image: '/img/main-slide-12.png' },
      { image: '/img/main-slide-13.png' },
      { image: '/img/main-slide-14.png' },
      { image: '/img/main-slide-15.png' },
      { image: '/img/main-slide-16.png' },
      { image: '/img/main-slide-17.png' },
      { image: '/img/main-slide-18.png' },
      { image: '/img/main-slide-19.png' },
      { image: '/img/main-slide-20.png' },
      { image: '/img/main-slide-21.png' },
      { image: '/img/main-slide-22.png' },
    ] })

  .content__story
    +story()
  
  .content__section
    +section({
      title: 'Продукция'
    })
      +cats({ cats: [
        { img: "/img/cat-1.png", title: 'Муфты' },
        { img: "/img/cat-2.png", title: 'Переходы ПЭ' },
        { img: "/img/cat-3.png", title: 'Комплекты для заделки стыков (КЗС)' },
        { img: "/img/cat-4.png", title: 'Нагревательный электросварной элемент' },
        { img: "/img/cat-5.png", title: 'Элементы СОДК' },
        { img: "/img/cat-6.png", title: 'Сварочный аппарат' },
        { img: "/img/cat-7.png", title: 'Мастика ГС' },
        { img: "/img/cat-8.png", title: 'ПЭТ Тара' },
      ] })

  .content__target
    +target

  .content__fotostream
    +fotostream

  .content__delivery
    +delivery
    
  .content__contacts
    +contacts({})

