extend /layouts/default

block params

  - page.id = 6
  - page.title = 'Новости компании'

  include /components/headline/headline
  include /components/posts/posts

block content

  .content__headline
    +headline({
      title: page.title
    })

  .content__posts
    .container
      +posts({
        items: [
          {
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-1.jpg',
            date: '01.11.2019'
          },
          {
            title: "История “Как мы доставляли продукцию в Европу”",
            img: '/img/post-2.jpg',
            date: '01.11.2019'
          },
          {
            title: "История “Как мы доставляли продукцию в Европу”",
            img: '/img/post-3.jpg',
            date: '01.11.2019'
          },
          {
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-4.jpg',
            date: '01.11.2019'
          },
          {
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-1.jpg',
            date: '01.11.2019'
          },
          {
            title: "История “Как мы доставляли продукцию в Европу”",
            img: '/img/post-2.jpg',
            date: '01.11.2019'
          },
          {
            title: "Вот и подошла к концу выставка «Метал-Экспо 2019»",
            img: '/img/post-1.jpg',
            date: '01.11.2019'
          },
        ]
      })
