extend /layouts/default

block params

  - page.id = 4
  - page.title = 'Комплект заделки стыков'

  include /components/headline/headline
  include /components/product-slider/product-slider
  include /components/product-card/product-card
  include /components/catalog-form/catalog-form
  include /components/contact-form/contact-form
  include /components/section/section
  include /components/docs/docs
  include /components/cats/cats

block content

  .content__headline
    +headline({
      classList: ['is-grey'],
      breadcrumb: {
        items: [
          { title: 'Каталог', url: 'catalog.html' },
          { title: 'Комплекс заделки стыков', url: 'category.html' },
        ],
        hideHomepage: true
      },
      title: 'Комплекты заделки мастичных стыков с термоусаживаемой муфтой'
    })

  .content__slider
    +product-slider({
      items: [
        { image: '/img/main-slide-1.png' },
        { image: '/img/main-slide-2.png' },
        { image: '/img/main-slide-3.png' },
        { image: '/img/main-slide-4.png' },
        { image: '/img/main-slide-5.png' },
        { image: '/img/main-slide-6.png' },
        { image: '/img/main-slide-7.png' },
        { image: '/img/main-slide-8.png' },
        { image: '/img/main-slide-9.png' },
      ]
    })

  .content__product
    +product-card

  .content__docs
    +section({
      title: 'Сертификаты продукции',
      classList: ['has-small-title', 'has-padding', 'is-softgrey']
    })
      +docs({
        docs: [
          {
            img: "/img/doc-1.jpg",
            title: 'Технологический каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
          {
            img: "/img/doc-2.jpg",
            title: 'Презентационный каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
          {
            img: "/img/doc-3.jpg",
            title: 'Технологический каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
          {
            img: "/img/doc-1.jpg",
            title: 'Технологический каталог',
            size: '31.86 МБ',
            type: 'PDF'
          },
        ]
      })

  .content__form
    +catalog-form
      +contact-form


  .content__section
    +section({
      title: 'Другая продукция',
      classList: ['has-small-title']
    })
      +cats({
        cats: [
          { img: "/img/cat-1.png", title: 'Муфты' },
          { img: "/img/cat-2.png", title: 'Переходы ПЭ' },
          { img: "/img/cat-4.png", title: 'Нагревательный электросварной элемент' }
        ] 
      })
