/**
* list
*/

.list {
  $this: &;

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.5;
  }

  &__items {
    margin-top: 25px;
  }

  &__item {
    color: $black;
    font-weight: $regular;
    font-size: 24px;
    line-height: 1.5;
  }
}
