/**
* poll-bar
*/

.poll-bar {
  $this: &;

  padding: 20px 40px;
  border-radius: 10px;
  background-color: $accent;
  overflow: hidden;

  &__year {
    color: $black;
    font-weight: $regular;
    font-size: 18px;
    line-height: 1.33;
  }

  &__value {
    color: $black;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }
}
