//- accordion

include /components/accordion-item/accordion-item

mixin accordion({ items })
  .accordion
    ul.accordion__list
      each item, index in items
        li.accordion__item
          +accordion-item({ label: item, opened: index == 0 })
