/**
* accordion
*/

.accordion {
  $this: &;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid $linegrey;
  }

  &__item {
    border-top: 1px solid $linegrey;
  }
}
