//- cat

mixin cat({ title, img })
  article.cat
    header.cat__header
      h4.cat__title
        a.cat__link(
          href="/category.html"
        )=title
    .cat__body
      img.cat__image(
        src=img
        alt=title
      )
