/**
* cat
*/

.cat {
  $this: &;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 440px;
  position: relative;
  z-index: 0;
  background-color: $white;
  overflow: hidden;

  &__header {
    padding: 25px 30px 0;
  }

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 32px;
    line-height: 1.31;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &__body {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
  }
}
