//- polls

include /components/poll-bar/poll-bar

mixin polls({ items = [] })
  section.polls
    .container
      header.polls__header
        h2.polls__title Ежегодный рост объемов производства
      .polls__body
        ul.polls__list
          each item, index in items
            - var hue = 100 - (50 / items.length * (index + 1))
            - var width = (index + 1) * (70 / items.length) + 30
            li.polls__item
              +poll-bar(item, {
                color: `hsl(28, 76%, ${hue}%)`,
                width: `${width}%`
              })
