/**
* polls
*/

.polls {
  $this: &;

  &__header {
  }

  &__title {
    max-width: 470px;
    margin-left: 400px;
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }

  &__body {
    margin-top: 95px;
  }

  &__list {
  }

  &__item {
    & + & {
      margin-top: 16px;
    }
  }
}
