/**
* delivery
*/

.delivery {
  $this: &;

  background-color: $softgrey;
  background-image: url(/img/map.png);
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: auto;

  &.is-alt {
    #{$this}__title {
      max-width: 780px;
      font-size: 56px;
      line-height: 1.14;
    }

    #{$this}__descr {
      max-width: 830px;
      padding: 0;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1270px;
    padding: 90px 0 110px;
  }

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 80px;
    line-height: 1;

    em {
      color: $accent;
      font-style: normal;
    }
  }

  &__descr {
    margin-top: 40px;
    padding: 0 200px;
    color: $black;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.33;
  }
}
