//- delivery

mixin delivery(alt)
  section.delivery(
    class=alt && 'is-alt'
  )
    .container
      .delivery__body
        h2.delivery__title!= alt ? 'Работаем по всей РФ, СНГ и странах ЕС' : '<em>Возьмем на себя все риски</em> по поиску и доставке продукции'

        p.delivery__descr!= alt ? 'Компания постоянно в движении, занимается новыми видами сбыта продукции и модернизацией производства' : 'Работаем на территории России, СНГ, а&nbsp;так же ЕС. Мы имеем богатый опыт в&nbsp;работе и&nbsp;поставке продукции в&nbsp;разные уголки света'
