/**
* content
*/

.content {
  $this: &;

  width: 100%;

  &__headline {
  }

  &__catalog {
    margin-top: 80px;
  }

  &__category {
    margin-top: 40px;
  }

  &__product {
  }

  &__showcase {
  }

  &__polls {
    padding: 90px 0 150px;
  }

  &__product + &__docs {
    margin-top: 0;
  }

  &__body {
    flex-grow: 1;
    padding-bottom: 60px;
  }

  &__slider {
  }

  &__story {
    margin-top: 95px;
  }

  &__story + &__section {
    margin-top: 195px;
  }

  &__form + &__section {
    margin-top: 85px;
  }

  &__section {
  }

  &__target {
    margin-top: 100px;
  }

  &__fotostream {
  }

  &__docs {
    margin-top: 90px;
  }

  &__form {
    margin-top: 90px;
  }

  &__docs + &__form {
    margin-top: 0;
  }

  &__albums,
  &__gallery,
  &__posts,
  &__article {
    margin-top: 60px;
  }

  &__headline + &__contacts {
    margin-top: 60px;
  }

  &__contacts:last-child {
    .contacts {
      padding-bottom: 30px;
    }
  }
}
