/**
* social
*/

.social {
  $this: &;

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1;
  }

  &__title + &__list {
    margin-left: 15px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    & + & {
      margin-left: 15px;
    }
  }

  &__link {
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transition: ease filter 200ms;

    &:hover {
      filter: brightness(0.2);
    }

    &.is-instagram {
      background-image: url(/img/soc-instagram.svg);
    }

    &.is-vk {
      background-image: url(/img/soc-vk.svg);
    }

    &.is-facebook {
      background-image: url(/img/soc-facebook.svg);
    }
  }

  &.is-alt {
    display: flex;
    align-items: center;

    #{$this}__list {
      position: relative;
      top: 2px;
    }

    #{$this}__link {
      border-radius: 0;

      &:hover {
        filter: brightness(0.5);
      }

      &.is-instagram {
        width: 28px;
        height: 28px;
        background-image: url(/img/soc-instagram-alt.svg);
      }

      &.is-youtube {
        width: 38px;
        height: 26px;
        background-image: url(/img/soc-youtube-alt.svg);
      }
    }
  }
}
