//- social

mixin social(items = [], title, mods = [])
  .social(
    class=mods.map(mod => `is-${mod}`)
  )
    if title
      .social__title=title
    ul.social__list
      each item in items
        li.social__item
          a.social__link(
            href='#'
            class='is-' + item.type
            title=item.name
            target='_blank'
          )
