/**
* callback-form
*/

.callback-form {
  $this: &;

  padding: 25px 70px 45px;

  &__header {
  }

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }

  &__body {
    margin-top: 15px;
  }

  &__footer {
    margin-top: 55px;
  }

  &__button {
    max-width: 362px;
  }

  &__agreement {
    margin-top: 25px;
  }
}
