//- callback-form

include /components/input/input
include /components/textarea/textarea
include /components/button/button

mixin callback-form(options = {})
  form.callback-form.form
    .callback-form__header
      h3.callback-form__title Оставьте заявку на расчет
    .callback-form__body
      label.form__control
        span.form__field
          +input()(
            type='text'
            name='name'
            placeholder='Имя'
          )
      label.form__control
        span.form__field
          +input()(
            type='tel'
            name='tel'
            required
            placeholder='Телефон'
          )
      label.form__control
        span.form__field
          +input()(
            type='email'
            name='email'
            placeholder='Email'
          )
      label.form__control
        span.form__field
          +textarea()(
            name='comment'
            placeholder='Комментарий'
          )

    .callback-form__footer
      .callback-form__button
        +button({
          label: 'Отправить'
        }).is-large.is-wide

      .callback-form__agreement.form__agreement Нажимая на&nbsp;кнопку “отправить” я даю свое согласие на&nbsp;<a href="#">обработку песональных данных</a>
