/**
* category
*/

.category {
  $this: &;

  position: relative;

  &::before {
    content: '';
    display: block;
    width: 1920px;
    height: 685px;
    position: absolute;
    z-index: -1;
    bottom: 55px;
    left: calc(50% - 960px);
    background-image: url(/img/decor-circles-3.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__header {
    display: flex;
  }

  &__descr {
    padding-right: 30px;
  }

  &__notice {
  }

  &__body {
    margin-top: 65px;
  }
}
