//- category

include /components/notice/notice
include /components/products/products

mixin category(options = {})
  .category
    .container
      .category__header
        .grid.is-row
          .col-7
            p.category__descr.
              Комплект заделки стыка (КЗС) предназначен для теплоизоляции сварных стыков стальных труб ППУ в&nbsp;защитной полиэтиленовой трубе-оболочке или спиральной оболочке из тонколистовой оцинкованной стали.
          .col-2
            .category__notice
              +notice({
                title: 'ГОСТ<br>24297-2006',
                text: 'Вся продукция соотвествсует'
              })
          .col-3
            .category__notice
              +notice({
                title: '4 этапа контроля качества',
                text: 'Мы проверям качество на каждом этапе производства'
              })

      .category__body
        .category__products
          +products({
            products: [
              { title: 'КЗС (Ц) для муфты из тонколистового оцинкованного проката', img: '/img/product-3.png' },
              { title: 'КЗС Флекс', img: '/img/product-3.png' },
              { title: 'КЗС (Т) с термоусаживаемой муфтой', img: '/img/product-3.png' },
              { title: 'КЗСл (Т) с термоусаживаемой муфтой без термоленты и замковых пластин', img: '/img/product-3.png' },
              { title: 'КЗС (ЭС) электросварных стыков термоусаживаемой муфтой', img: '/img/product-3.png' },
            ]
          })
