//- album

mixin album({ img, date, title, descr, classList, type = 'default' })
  article.album(
    class=classList
    class='is-' + type
  )
    figure.album__figure
      img.album__image(
        src=img
        alt=title
      )
    .album__body
      header.album__header
        h3.album__title
          a.album__link(
            href="/album.html"
            title=title
          )=title
      .album__meta
        time.album__date=date
