/**
* album
*/

.album {
  $this: &;

  height: 100%;
  position: relative;

  &:hover {
    #{$this}__body::before {
      opacity: 0.5;
    }
  }

  &.is-large {
    #{$this}__body {
      padding: 18px 26px;
    }

    #{$this}__figure {
      height: 430px;
    }

    #{$this}__title {
      font-size: 36px;
      line-height: 1.16;
    }
  }

  &.is-default {
    #{$this}__header::before {
      background-image: url(/img/type-default.svg);
    }
  }

  &.is-foto {
    #{$this}__header::before {
      background-image: url(/img/type-foto.svg);
    }
  }

  &.is-video {
    #{$this}__header::before {
      background-image: url(/img/type-video.svg);
    }
  }

  &__figure {
    width: 100%;
    height: 100%;
    min-height: 410px;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 13px 26px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    color: $white;
    border-radius: 10px;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-image: linear-gradient(
        0deg,
        $accent 32%,
        rgba(224, 123, 28, 0) 100%
      );
      opacity: 0.7;
      z-index: -1;
      transition: ease opacity 200ms;
    }
  }

  &__header {
    &::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      margin-bottom: 10px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__title {
    margin: 0;
    color: $white;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.42;
  }

  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-top: 2px;
    color: $white;
    font-weight: $regular;
    font-size: 18px;
    line-height: 2;
    opacity: 0.5;
  }

  &__date {
  }
}
