//- gallery-item

mixin gallery-item({ image, source, title, className, type = 'default' })
  figure.gallery-item
    a.gallery-item__cover(
      target='_blank'
      href=source
      title=title
      class=className || ''
    )
      img.gallery-item__image(
        src=image
        alt=title
      )
    figcaption.gallery-item__text!=title
