/**
* gallery-item
*/

.gallery-item {
  $this: &;

  display: flex;
  height: 100%;
  margin: 0;

  &:hover {
    #{$this}__image {
      transform: scale(1.05);
    }
  }

  &__cover {
    display: block;
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    transition: ease transform 600ms;
  }

  &__text {
    display: block;
    margin: 15px auto 0;
    color: $dark;
    font-size: 14px;
    font-weight: $medium;
    line-height: 1.6;
    text-align: center;
  }
}
