/**
* slide
*/

.slide {
  $this: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  color: $white;
  overflow: hidden;
  text-decoration: none;

  &__title {
    color: $white;
    font-size: 20px;
    line-height: 1.5;
  }
}
