/**
* post
*/

.post {
  $this: &;

  position: relative;

  &__figure {
    width: 100%;
    height: 320px;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  &__figure + &__body {
    margin-top: 15px;
  }

  &__header {
  }

  &__title {
    margin: 0;
    color: $dark;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.5;
  }

  &__link {
    display: block;
    color: currentColor;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
      color: $accent;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__descr {
    margin-top: 7px;
    color: $dark;
    font-size: 18px;
    line-height: 1.36;
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #8a97a8;
    font-weight: $regular;
    font-size: 18px;
    line-height: 2;
  }

  &__date {
  }
}
