//- post

mixin post({ img, date, title, descr })
  article.post
    figure.post__figure
      img.post__image(
        src=img
        alt=title
      )
    .post__body
      header.post__header
        h3.post__title
          a.post__link(
            href="/single.html"
            title=title
          )=title
        p.post__descr Руководство компании в лице первого заместителя генерального директора – главного инженера Гуляева Максима Геннадьевича поблагодарило рабочих за их ...
      .post__meta
        time.post__date=date
