/**
* breadcrumb
*/

.breadcrumb {
  $this: &;

  display: flex;
  align-items: center;
  line-height: 1;

  &__item {
    display: flex;
    align-items: center;
    color: #9f9f9f;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1.33;

    &::after {
      content: '-';
      margin: 0 5px;
    }

    &:last-child::after {
      display: none;
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    transition: ease color 300ms;

    &:hover {
      color: $accent;
    }
  }
}
