mixin breadcrumb({ items, hideHomepage })
  ul.breadcrumb&attributes(attributes)

    if !hideHomepage
      li.breadcrumb__item
        a.breadcrumb__link(href='/index.html', title='Главная') Главная
      
    if items
      each item in items
        if item.url
          li.breadcrumb__item
            a.breadcrumb__link(href='/' + item.url, title=item.title)=item.title
        else
          li.breadcrumb__item=item.title
