//- catalog-form

mixin catalog-form(options = {})
  section.catalog-form
    .container
      .grid.is-row
        .col-10.shift-2
          header.catalog-form__header
            h2.catalog-form__title Ответим на&nbsp;ваши вопросы и&nbsp;проконсультируем по&nbsp;цене
          .catalog-form__body
            block
