/**
* catalog-form
*/

.catalog-form {
  $this: &;

  padding: 90px 0;
  position: relative;
  background-color: $grey;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 287px;
    height: 307px;
    position: absolute;
    left: -80px;
    top: 60px;
    background-image: url(/img/3circles.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &::after {
    width: 154px;
    height: 154px;
    left: auto;
    right: -60px;
    top: auto;
    bottom: -20px;
    background-image: url(/img/circle.svg);
  }

  &__header {
  }
  &__title {
  }

  &__body {
    margin-top: 20px;
  }
}
