/**
* gallery-slider
*/

.gallery-slider {
  $this: &;

  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $layer-6;
  overflow: auto;

  &__inner {
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 560px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(15, 24, 32, 0.98);
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    flex-shrink: 0;

    &::before {
      content: '';
      display: block;
      width: 100px;
      height: 100%;
      border-right: 1px solid #2b3340;
    }
  }

  &__close {
    display: flex;
    width: 100px;
    height: 100%;
    padding: 0;
    border: none;
    border-left: 1px solid #2b3340;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      margin: auto;
      background-image: url(/img/close.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    position: relative;
    flex-shrink: 0;
    border-right: 1px solid #2b3340;
  }

  &__right {
    border-right: none;
    border-left: 1px solid #2b3340;
  }

  &__arrow {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0;
    position: relative;
    top: -45px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: ease opacity 300ms;

    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      margin: auto;
      background-image: url(/img/slider-arrow.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    &.is-prev {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__download {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 1px);
    color: $softgrey;
    font-weight: $medium;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    transform-origin: left center;
    transform: rotate(-90deg);

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-image: url(/img/download.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      transform: rotate(90deg);
    }

    &.is-inline {
      display: none;
      padding: 0 35px;
      position: static;
      transform: rotate(0deg);

      &::before {
        transform: rotate(0deg);
      }
    }
  }

  &__center {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin: 0 20px;
    padding: 0;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
    list-style: none;
    overflow: hidden;
  }

  &__list {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition-property: transform;
    will-change: transform;
  }

  &__item {
    display: flex;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;
  }

  &__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
  }

  .swiper-notification {
    display: none;
  }

  .swiper-button-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
