/**
* catalog
*/

.catalog {
  $this: &;

  position: relative;
  z-index: 0;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 1844px;
    height: 417px;
    position: absolute;
    top: 330px;
    left: calc(50% - 920px);
    z-index: -1;
    background-image: url(/img/decor-circles-2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__head {
  }

  &__links {
  }

  &__slider {
    width: calc(100% + 24px);
    margin-left: -24px;
    position: relative;
    background-color: $grey;
    border-radius: 10px;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 160px;
      height: 160px;
      position: absolute;
      top: -70px;
      left: -60px;
      background-image: url(/img/circle.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__products {
    margin-top: 115px;

    & + & {
      margin-top: 90px;
    }
  }
}
