//- catalog

include /components/links/links
include /components/products/products
include /components/catalog-slider/catalog-slider

mixin catalog(options = {})
  .catalog
    .container
      .catalog__head
        .grid.is-columns
          .col-4
            .catalog__link
              +links({
                links: [
                  'Муфты',
                  'Переходы ПЭ',
                  'Комплекты для заделки стыков',
                  'Нагревательный электросварной элемент',
                  'Элементы СОДК',
                  'Сварочный аппарат',
                  'Мастика ГС',
                  'ПЭТ Тара',
                  'Дополнительные материалы',
                ]
              })
          .col-8
            .catalog__slider
              +catalog-slider({
                items: [
                  {
                    title: 'Лучшие комплекы заделки стыков',
                    image: '/img/catalog-slider-1.png'
                  },
                  {
                    title: 'Качественные оцинкованные муфты',
                    image: '/img/catalog-slider-2.png'
                  },
                ]
              })

      .catalog__products
        +products({
          title: 'Муфты',
          amount: '4 товара',
          products: [
            { title: 'Термоусаживаемые муфты', img: '/img/product-1.png' },
            { title: 'Оцинкованные муфты', img: '/img/product-1.png' },
            { title: 'Светостабилизирующие термоусаживаемые муфты', img: '/img/product-1.png' },
          ]
        })

      .catalog__products
        +products({
          title: 'Переходы ПЭ',
          amount: '1 товар',
          products: [
            { title: 'Переходы ПЭ', img: '/img/product-2.png' }
          ]
        })

      .catalog__products
        +products({
          title: 'Комплект заделки стыков',
          amount: '5 товаров',
          products: [
            { title: 'КЗС (Ц) для муфты из тонколистового оцинкованного проката', img: '/img/product-3.png' },
            { title: 'КЗС Флекс', img: '/img/product-3.png' },
            { title: 'КЗС (Т) с термоусаживаемой муфтой', img: '/img/product-3.png' },
            { title: 'КЗСл (Т) с термоусаживаемой муфтой без термоленты и замковых пластин', img: '/img/product-3.png' },
            { title: 'КЗС (ЭС) электросварных стыков термоусаживаемой муфтой', img: '/img/product-3.png' },
          ]
        })

      .catalog__products
        +products({
          title: 'Нагревательный электросварной элемент',
          amount: '1 товар',
          products: [
            { title: 'КЗСл (Т) с термоусаживаемой муфтой без термоленты и замковых пластин', img: '/img/product-4.png' },
          ]
        })

      .catalog__products
        +products({
          title: 'Дополнительные материалы',
          amount: '9 товаров',
          products: [
            { title: 'Термолента', img: '/img/product-5.png' },
            { title: 'Лента клеевая', img: '/img/product-6.png' },
            { title: 'Мастика ГС', img: '/img/product-7.png' },
            { title: 'Стойки', img: '/img/product-8.png' },
            { title: 'Гильза обжимная', img: '/img/product-9.png' },
            { title: 'Манжета мтен.вода', img: '/img/product-10.png' },
            { title: 'Венчик', img: '/img/product-11.png' },
            { title: 'Латки', img: '/img/product-12.png' },
            { title: 'ПЭТ тара', img: '/img/product-13.png' },
          ]
        })

      .catalog__products
        +products({
          title: 'Элементы СОДК',
          amount: '13 товаров',
          products: [
            {
              title: "ДНС-2АМ (+GPS) Стационарный детектор неисправностей (+GPS)",
              img: "/img/product-14.png"
            },
            {
              title: "ДНП-АМ Переносной детектор неисправностей",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-11 Терминал измерительный ",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-11/Г Терминал измерительный герметичный",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-12 Терминал промежуточный",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-12/Ш Терминал промежуточный",
              img: "/img/product-14.png"
            },
            {
              title: "ДНС-2АМ (+GPS) Стационарный детектор неисправностей (+GPS)",
              img: "/img/product-14.png"
            },
            {
              title: "ДНП-АМ Переносной детектор неисправностей",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-11 Терминал измерительный",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-12 Терминал промежуточный",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-12 Терминал промежуточный",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-12/Ш Терминал промежуточный",
              img: "/img/product-14.png"
            },
            {
              title: "ТМ-16 Терминал проходной",
              img: "/img/product-14.png"
            },
          ]
        })

      .catalog__products
        +products({
          title: 'Сварочный аппарат',
          amount: '1 товар',
          products: [
            { title: 'Сварочный аппарат', img: '/img/product-15.png' },
          ]
        })

      .catalog__products
        +products({
          title: 'Мастика',
          amount: '1 товар',
          products: [
            { title: 'Мастика', img: '/img/product-16.png' },
          ]
        })
