/**
* info
*/

.info {
  $this: &;

  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    position: relative;
    top: 5px;
    background-image: url(/img/info.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__content {
    margin-left: 14px;
    color: $black;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1;
  }
}
