//- posts

include /components/post/post
include /components/subscribe/subscribe
include /components/button/button

mixin posts({ items = [] })
  .posts.js-posts(
    data-posts-url=''
    data-use-mock-data='true'
  )
    .posts__body
      ul.posts__list.grid.is-columns.js-posts-list
        each item, index in items
          if index == 2
            li.posts__item.col-6
              +subscribe
              
          li.posts__item.col-6
            +post(item)

    .posts__footer.js-posts-footer
      .posts__button.js-posts-button 
        +button({
          label: 'Показать еще новости'
        }).is-large
