/**
* review
*/

.review {
  $this: &;

  &__link {
    display: block;
    color: $dark;
    font-weight: $regular;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
  }

  &__figure {
  }

  &__image {
  }

  &__caption {
    margin-top: 15px;
  }

  &__body {
  }

  &__text {
    color: $dark;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.33;
  }

  &__author {
    margin-top: 10px;
    color: #8c8f90;
    font-weight: $regular;
    font-size: 24px;
    line-height: (36 / 24);
  }
}
