//- review

mixin review({ text, author, doc})
  article.review
    .grid.is-row
      .col-2.shift-1
        if doc
          a.review__link(
            href=doc.src
            target='_blank'
          )
            figure.review__figure
              img.review__image(
                src=doc.src
                alt=doc.caption
              )
              figcaption.review__caption=doc.caption
      .col-8.shift-1
        .review__body
          p.review__text=text
          p.review__author=author
