/**
* contact
*/

.contact {
  $this: &;

  &__label {
    color: #8c8f90;
    font-size: 24px;
    font-weight: $medium;
    line-height: 1.5;
  }

  &__content {
    color: $black;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.33;

    a {
      color: currentColor;
      text-decoration: none;
      transition: ease color 200ms;

      &:hover {
        color: $accent;
      }
    }
  }

  &__label + &__content {
    margin-top: 10px;
  }

  &__download {
    display: flex;
    align-items: center;
    margin-top: 15px;
    position: relative;
    top: 10px;
    color: $black;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.5;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 18px;
      background-image: url(/img/download.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__button {
    max-width: 360px;
    margin-top: 30px;
  }
}
