//- contact

include /components/button/button

mixin contact({ label, content, download, button })
  .contact
    if label
      .contact__label=label
    .contact__content!=content
    if download
      a.contact__download(
        href='#'
        download
      )=download

    if button
      .contact__button
        +button({
          label: button.label,
          type: button.type
        })&attributes(button.attrs)
