@mixin is-bordered {
  $this: &;

  &.is-bordered {
    padding: 20px 30px;
    background-color: transparent;
    border: 2px solid $accent;
    color: $black;
    will-change: color;
    transition: ease background-color 300ms, ease color 300ms;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}
