//- product

mixin product({ title, img })
  article.product
    header.product__header
      h4.product__title
        a.product__link(
          href="product.html"
        )=title
    .product__body
      img.product__image(
        src=img
        alt=title
      )
