/**
* slider
*/

.slider {
  $this: &;

  width: 100%;
  height: 1020px;
  padding-top: 20px;
  position: relative;
  z-index: 0;
  background-color: $grey;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    width: 1844px;
    height: 417px;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 920px);
    z-index: -1;
    background-image: url(/img/decor-circles-2-light.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__header {
    padding-top: 110px;
    padding-bottom: 160px;
  }

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 80px;
    line-height: 1.07;
  }

  &__info {
    max-width: 200px;
    position: absolute;
    top: auto;
    left: auto;
    right: 100px;
    bottom: 370px;
  }

  &__button {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
  }

  .js & {
    &::after {
      content: "";
      display: block;
      width: 120px;
      height: 120px;
      position: absolute;
      top: calc(50% - 60px);
      left: calc(50% - 60px);
      z-index: 1;
      background-image: url(/img/spinner.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    #{$this}__container {
      opacity: 0;
      pointer-events: none;
      transition: ease opacity 200ms;
    }
  }

  &.is-inited {
    &::after {
      display: none;
    }

    #{$this}__container {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__container {
    width: 100%;
    height: 110%;
    position: absolute;
    left: 0;
    bottom: -13%;
    z-index: -1;
  }

  &__list {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition-property: transform;
    will-change: transform;
  }

  &__item {
    display: block;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: ease-in-out opacity 500ms;

    &.swiper-slide-active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__counter {
    margin: 0 30px;
    color: $black;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1;
    text-align: center;
  }

  &__arrow {
    display: inline-block;
    width: 40px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(/img/slider-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    cursor: pointer;

    &.is-prev {
      transform: rotate(180deg);
    }

    &.is-next {
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }

  .swiper-notification {
    display: none;
  }
}
