//- slider

include /components/slide/slide
include /components/info/info
include /components/button/button

mixin slider({ items, swiper })
  section.slider.js-slider(
    data-options=swiper
  )
    .slider__container.js-slider-container
      ul.slider__list.js-slider-list
        each item in items
          li.slider__item.js-slider-item
            +slide(item)

    .slider__controls
      button.slider__arrow.is-prev.js-slider-prev
      .slider__counter.js-slider-counter=`1 / ${items.length}`
      button.slider__arrow.is-next.js-slider-next

    .container
      header.slider__header
        h1.slider__title Производитель надежных продуктов в области изоляционных решений
      .slider__info
        +info('Комплект заделки стыка')
      .slider__button
        +button({
          type: 'link',
          label: 'Смотреть все 36 продуктов'
        })(
          href='/catalog.html'
        ).is-medium
