//- diagram

mixin diagram(options = {})
  .diagram
    ul.diagram__list
      li.diagram__item
        .diagram__sector(data-icon='production')
          .diagram__label Собственное, мощное высокотехнологичное производство
      li.diagram__item
        .diagram__sector(data-icon='promptly')
          .diagram__label Оперативность изготовления<br>заказа
      li.diagram__item
        .diagram__sector(data-icon='quality')
          .diagram__label Высокое качество производимой продукции 
      li.diagram__item
        .diagram__sector(data-icon='durability')
          .diagram__label Большую долговечность<br>+-30 лет
    .diagram__info
      .diagram__title 10+
      .diagram__caption лет на рынке
