/**
* diagram
*/

.diagram {
  $this: &;

  width: 100%;
  position: relative;

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    margin: -30px;
  }

  &__item {
    width: 50%;
    height: 610px;
    padding: 30px;
    transition: ease transform 200ms;

    &:hover {
      transform: scale(1.12);

      #{$this}__sector {
        &::after {
          transform: translate(10%, -10%);
        }
      }
    }

    &:nth-child(1) #{$this}__sector {
      &::after {
        transform-origin: right bottom;
        transform: translate(0, -100%) rotate(270deg);
      }

      &:hover::after {
        transform: translate(-10%, -110%) rotate(270deg);
      }
    }

    &:nth-child(3) #{$this}__sector {
      &::after {
        transform-origin: right top;
        transform: translate(-100%, 100%) rotate(-180deg);
      }

      &:hover::after {
        transform: translate(-110%, 110%) rotate(-180deg);
      }
    }

    &:nth-child(4) #{$this}__sector {
      &::after {
        transform-origin: right top;
        transform: translate(0%, 100%) rotate(90deg);
      }

      &:hover::after {
        transform: translate(10%, 110%) rotate(90deg);
      }
    }

    &:nth-child(2) ~ & #{$this}__sector {
      padding-top: 70px;
      padding-bottom: 0;
    }

    &:nth-child(odd) #{$this}__sector {
      flex-direction: row-reverse;
      text-align: right;

      &::before {
        margin-right: 0;
        margin-left: 25px;
      }
    }
  }

  &__sector {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    position: relative;
    z-index: 0;
    color: $dark;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.42;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      background-image: url(/img/sector.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      transform-origin: left bottom;
      transition: ease-out transform 200ms;
    }

    &[data-icon]::before {
      content: "";
      display: block;
      margin-right: 25px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    &[data-icon="production"]::before {
      width: 90px;
      height: 90px;
      background-image: url(/img/diagram-ico-2.svg);
    }

    &[data-icon="promptly"]::before {
      width: 73px;
      height: 85px;
      background-image: url(/img/diagram-ico-1.svg);
    }

    &[data-icon="quality"]::before {
      width: 110px;
      height: 79px;
      background-image: url(/img/diagram-ico-3.svg);
    }

    &[data-icon="durability"]::before {
      width: 89px;
      height: 87px;
      background-image: url(/img/diagram-ico-4.svg);
    }
  }

  &__label {
    width: 285px;
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
  }

  &__title {
    color: $white;
    font-weight: $bold;
    font-size: 154px;
    line-height: 1;
    letter-spacing: 0.04em;
    @include textBorder($accent);
  }

  &__caption {
    margin-top: 5px;
    color: $black;
    font-weight: $regular;
    font-size: 24px;
    line-height: 1.5;
  }
}
