//- fotostream

mixin fotostream(options = {})
  .fotostream
    .container
      .fotostream__header
        h2.fotostream__title Наша жизнь
        a.fotostream__link(
          href="#"
        ) Перейти в instagram
      .fotostream__images.grid.is-row
        .col-4
          img.fotostream__image(
            src='/img/foto-1.jpg'
            alt
          )
        .col-4
          img.fotostream__image(
            src='/img/foto-2.jpg'
            alt
          )
        .col-4
          img.fotostream__image(
            src='/img/foto-3.jpg'
            alt
          )

    .fotostream__tag #smitisol&nbsp;&nbsp;&nbsp;&nbsp;#smitisol&nbsp;&nbsp;&nbsp;&nbsp;#smitisol&nbsp;&nbsp;&nbsp;&nbsp;#smitisol&nbsp;&nbsp;&nbsp;&nbsp;#smitisol
    
    .container
      .fotostream__images.grid.is-row
        .col-4
          img.fotostream__image(
            src='/img/foto-4.jpg'
            alt
          )
        .col-4
          img.fotostream__image(
            src='/img/foto-5.jpg'
            alt
          )
        .col-4
          img.fotostream__image(
            src='/img/foto-6.jpg'
            alt
          )
            
