/**
* fotostream
*/

.fotostream {
  $this: &;

  padding: 120px 0 140px;
  background-color: $white;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 80px;
    line-height: 1;
  }

  &__link {
    position: relative;
    top: 5px;
    color: $white;
    font-weight: $bold;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: ease text-shadow 200ms;
    @include textBorder($accent, 1);

    &:hover {
      @include textBorder($black, 1);
    }
  }

  &__header + &__images {
    margin-top: 65px;
  }

  &__images {
    & + & {
      margin-top: 24px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__tag {
    padding: 55px 0 75px;
    color: $white;
    font-weight: $bold;
    font-size: 100px;
    line-height: 1;
    letter-spacing: 0.04em;
    white-space: nowrap;
    transform: translateX(-1%);
    @include textBorder($accent, 1);
  }
}
