.input {
  $this: &;

  display: block;
  width: 100%;
  padding: 25px 0;
  color: $black;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $black;
  font-size: 24px;
  font-weight: $medium;
  font-family: inherit;
  line-height: 1;
  outline: none !important;
  transition: ease border-color 300ms;

  &:focus {
    border-color: $accent;
  }

  &::-moz-placeholder {
    color: #7a7d7e;
    font-family: inherit;
  }

  &::-webkit-input-placeholder {
    color: #7a7d7e;
    font-family: inherit;
  }
}
