//- modal

include /components/contact-form/contact-form
include /components/callback-form/callback-form
include /components/policy/policy

mixin modal-callback()
  #modal-callback
    +callback-form

mixin modal-contact()
  #modal-contact
    +contact-form({ type: 'modal' })

mixin modal-policy()
  #modal-policy
    +policy

mixin modal-default()
  #modal-default.js-modal-default

mixin modal()
  .modal.js-modal
    .modal__list
      //- +modal-default()
      +modal-callback()
      +modal-contact()
      +modal-policy()

    .modal__template.js-modal-template
      button.modal__close(
        data-modal-close
        title='Закрыть'
      )
      .modal__inner.js-modal-inner
        .modal__content.js-modal-content
