/**
* modal
*/

.modal {
  $this: &;
  $speed: 400ms;
  $ease-in: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  $ease-out: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  [data-current-modal] {
    #{$this}__template {
      position: fixed;
    }

    #{$this}__inner {
      transform: translateY(20px);
    }
  }

  [data-current-modal="modal-policy"] & {
    #{$this}__inner {
      max-width: 970px;
    }
  }

  &__template,
  &__list {
    display: none;
  }

  &__template {
    height: 100vh;
    position: relative;
  }

  &__inner {
    width: 100%;
    max-width: 765px;
    min-height: 240px;
    margin: auto;
    padding: 30px;
    align-self: center;
    background-color: $softgrey;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity $speed $ease-out, transform $speed $ease-out,
      z-index 0s $speed;
  }

  .modal-init & {
    #{$this}__template > * {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      text-align: left;
    }

    #{$this}__template {
      display: flex;
      padding: 20px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: -1;
      opacity: 0;
      transition: opacity $speed $ease, z-index 0s $speed;
      text-align: center;
      white-space: nowrap;
    }
  }

  .modal-visible & {
    #{$this}__template {
      z-index: $layer-5;
      opacity: 1;
      transition: opacity $speed $ease;
    }

    #{$this}__inner {
      z-index: $layer-1;
      opacity: 1;
      transform: translateY(0);
      transition: opacity $speed $ease-in, transform $speed $ease-in,
        z-index 0s $speed;
    }
  }

  &__close {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    border-radius: 50%;
    background-color: $accent;
    background-image: url(/img/close.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 16px 16px;
    cursor: pointer;
    transition: ease background-color 200ms;

    &:hover {
      background-color: $black;
    }
  }

  &__content {
    position: relative;
  }
}
