/**
* albums
*/

.albums {
  $this: &;

  position: relative;

  &.is-loading {
    #{$this}__body {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $white;
        opacity: 0.5;
      }
    }

    #{$this}__button {
      position: relative;
      border-radius: 70px;
      overflow: hidden;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $accent;
        background-image: url(/img/spinner-alt.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 64px 64px;
      }
    }
  }

  &__body {
    position: relative;
  }

  &__list {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
  }

  &__item {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 30px;
  }

  &__button {
  }
}
