//- albums

include /components/album/album
include /components/button/button

mixin albums({ items = [] })
  .albums.js-albums(
    data-albums-url=''
    data-use-mock-data='true'
  )
    .albums__body
      ul.albums__list.grid.is-columns.js-albums-list
        each item, index in items
          if index
            li.albums__item.col-4
              +album(item)
          else
            li.albums__item.col-8
              +album(item)

    .albums__footer.js-albums-footer
      .albums__button.js-albums-button 
        +button({
          label: 'Показать еще фото'
        }).is-large
