/**
* checkbox
*/

.checkbox {
  $this: &;

  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  color: $grey;
  font-weight: $medium;
  font-style: normal;
  font-size: 15px;
  text-align: left;
  cursor: pointer;

  &.is-agreement {
  }

  &__input {
    margin: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 0;
    opacity: 0;
  }

  &__label {
    display: block;
    padding-left: 35px;
    position: relative;
    color: currentColor;
    line-height: 1.7;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 3px;
      left: 0;
      background-color: $white;
      border: 1px solid $softgrey;
    }

    &::after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 7px;
      left: 4px;
      background-color: $accent;
      opacity: 0;
      transition: opacity $ease 200ms;
    }

    a {
      text-decoration: none;
      color: $accent;
      transition: ease 300ms color;

      &:hover {
        color: $second;
      }
    }
  }

  &__input:checked + &__label::after {
    opacity: 1;
  }

  &__input.is-focused + &__label::before {
    outline: 2px dashed #86d3ff;
  }
}
