//- checkbox

mixin checkbox({ label, name, type, value, className })
  label.checkbox(
    class=className || ''
  )
    input.checkbox__input(
      type='checkbox'
      name=name
      value=value || null
    )&attributes(attributes)
    span.checkbox__label!=label
