//- contact-form

include /components/input/input
include /components/button/button

mixin contact-form(options = {})
  form.contact-form.form(
    class=options.type ? 'is-' + options.type : null
  )
    if options.type == 'modal'
      .contact-form__header
        h3.contact-form__title Написать директору
  
    .contact-form__body
      label.form__control
        span.form__field
          +input()(
            type='text'
            name='name'
            placeholder='Имя'
          )
      label.form__control
        span.form__field
          +input()(
            type='tel'
            name='tel'
            required
            placeholder='Телефон'
          )
      label.form__control
        span.form__field
          +input()(
            type='email'
            name='email'
            placeholder='Email'
          )
      label.form__control
        span.form__field
          +input()(
            type='text'
            name='comment'
            required
            placeholder='Ваш вопрос'
          )

      .contact-form__button
        +button({
          label: 'Отправить'
        }).is-large.is-wide

      .contact-form__agreement.form__agreement Нажимая на&nbsp;кнопку “отправить” я даю свое согласие на&nbsp;<a href="#">обработку песональных данных</a>
