/**
* contact-form
*/

.contact-form {
  $this: &;

  max-width: 570px;

  &.is-modal {
    max-width: 100%;
    padding: 25px 70px 45px;
  }

  &__header {
  }

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }

  &__header + &__body {
    margin-top: 15px;
  }

  &__button {
    margin-top: 55px;
    max-width: 362px;
  }

  &__agreement {
    margin-top: 25px;
  }
}
