/**
* cats
*/

.cats {
  $this: &;

  &__list {
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    width: 33.33%;
    border: 1px solid $linegrey;

    & + &:not(:nth-child(3n + 4)) {
      border-left: none;
    }

    &:nth-child(3) ~ & {
      border-top: none;
    }
  }
}
