/**
* phones
*/

.phones {
  $this: &;

  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin: 0 -10px;

  &__item {
    padding: 0 10px;
  }

  &__link {
    color: $dark;
    font-size: 16px;
    font-weight: $bold;
    line-height: 1;
    text-decoration: none;
    white-space: nowrap;
    transition: ease color 300ms;

    &:hover {
      color: $accent;
    }
  }
}
