//- contact-box

include /components/contact/contact

mixin contact-box({ classList })
  .contact-box(
    class=classList
  )
    .contact-box__item
      +contact({
        label: 'Отдел продаж',
        content: '+7 (499) 350-24-45<br>+7 (910) 119-94-08<br>izol@smit.su'
      })
    .contact-box__item
      +contact({
        label: 'Адрес',
        content: 'Смоленская область, г. Ярцево ул. 2-я Машиностроительная, стр. 10'
      })
