/**
* contact-box
*/

.contact-box {
  $this: &;

  padding: 30px;
  padding-bottom: 50px;
  padding-right: 40px;
  background-color: $white;
  border-radius: 10px;

  &.is-dark {
    background-color: $softgrey;
  }

  &__item {
    & + & {
      margin-top: 40px;
      padding-top: 30px;
      border-top: 1px solid $accent;
    }
  }
}
