/**
* story
*/

.story {
  $this: &;

  position: relative;

  &.is-alt {
    padding-bottom: 70px;

    &::before {
      display: none;
    }

    #{$this}__header {
      &::after {
        display: none;
      }
    }

    #{$this}__title {
      font-size: 80px;
      line-height: 1;
    }

    #{$this}__descr {
      margin-top: 75px;
    }
  }

  &::before {
    content: "";
    width: 275px;
    height: 1843px;
    position: absolute;
    right: 0;
    top: 55%;
    background-image: url(/img/decor-circles-ver.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__decor {
    width: 262px;
    height: 347px;
    margin-left: 10px;
    background-image: url(/img/story-pic-2.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  &__header {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 169px;
      height: 169px;
      position: absolute;
      bottom: 0;
      right: -105px;
      border-radius: 50%;
      overflow: hidden;
      background-image: url(/img/story-pic-1.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      transform: translate(100%, 130px);
    }
  }

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 56px;
    line-height: 1.14;
  }

  &__descr {
    margin-top: 50px;
    color: $dark;
    font-weight: $bold;
    font-size: 36px;
    line-height: 1.33;

    em {
      color: $accent;
      font-style: normal;
    }
  }

  &__diagram {
    margin-top: 95px;
  }

  &__stats {
    margin-top: 75px;
  }

  &__slider {
    height: 720px;
    margin-top: 80px;
  }

  &__bottom {
    margin-top: 60px;
  }

  &__notice {
    color: $dark;
    font-weight: $bold;
    font-size: 36px;
    line-height: (48 / 36);
  }
}
