//- story

include /components/diagram/diagram
include /components/stats/stats

mixin story(options = {})
  .story
    .container
      .story__top
        .grid.is-row
          .col-4
            .story__decor
          .col-8
            .story__header
              h2.story__title Мы гарантируем внимание к&nbsp;деталям и&nbsp;качеству 
              p.story__descr <em>Профессиональный подход к&nbsp;делу плюс высокий уровень ответственности позволяют</em> в&nbsp;итоге создать строительно–монтажный продукт, которым по&nbsp;праву гордятся заказчики, исполнители и&nbsp;конечные потребители.

      .story__diagram
        +diagram

      .story__stats
        +stats
