//- contacts

include /components/contact/contact
include /components/contact-form/contact-form
include /components/contact-box/contact-box
include /components/manager/manager
include /components/map/map

mixin contacts({})
  .contacts
    .container
      section.contacts__section

        header.contacts__header
          h2.contacts__title Обратная связь

        .contacts__body
          .grid.is-row
            .col-6
              .contacts__form
                +contact-form()

            .col-6
              .contacts__infobox
                +contact-box({})

      section.contacts__section.is-map
        header.contacts__header
          h2.contacts__title Как проехать
          a.contacts__schema-link(
            href='#'
            download
          ) Скачать схему проезда
        .contacts__body
          .contacts__map
            +map({
              options: {
                center: [55.830057600359595,37.458438893886715], 
                zoom: 17,
                markers: [
                  {
                    address: '214013, Смоленск, Черняховского 6',
                    coords: [55.830057600359595,37.458438893886715],
                    image: {
                      href: '/img/marker.svg',
                      size: [50, 44],
                      offset: [-25, -44]
                    }
                  },
                ]
              },
              caption: '142832, г. Москва, ул. Набережная, д. 12, офис 603'
            })
