/**
* contacts
*/

.contacts {
  $this: &;

  padding: 85px 0;
  background-color: $grey;

  &.is-page {
    padding: 0;
    padding-bottom: 30px;
    background-color: $white;

    #{$this}__map {
      height: 100%;
    }
  }

  &__section {
    & + & {
      margin-top: 80px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $black;
    font-weight: $bold;
    font-size: 80px;
    line-height: 1;
  }

  &__schema-link {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    color: $black;
    font-weight: $bold;
    font-size: 24px;
    line-height: 1.5;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 18px;
      background-image: url(/img/download.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }
  }

  &__header + &__body {
    margin-top: 55px;
  }

  &__form {
  }

  &__form + &__contact {
    margin-top: 60px;
  }

  &__infobox {
    padding-left: 70px;
  }

  &__map {
    width: 100%;
    height: 480px;
    background-color: $lightgrey;
  }

  &__text {
    color: $black;
    font-size: 24px;
    line-height: 1.5;
  }

  &__contact {
    & + & {
      margin-top: 50px;
    }
  }
}
