@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/GothamPro.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/GothamPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/GothamPro-Medium.woff') format('woff');
}
