/* Body */
.body {
  margin: 0;
  padding: 0;
  background-color: $lightgrey;
  color: $black;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $regular;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-overflow {
    overflow: hidden;
  }

  ::selection {
    color: #fff;
    background-color: $accent;
  }
}

/* Reset */
html {
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default padding
   Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Titles */
@each $index, $size in $font-sizes {
  h#{$index} {
    @include title($size);
  }
}

/* Focus */
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 1px dotted #86d3ff;
}

.js {
  a:focus,
  button:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

.is-focused {
  outline: 2px dashed #86d3ff !important;
}

[v-cloak] {
  opacity: 0;
}

.js-touch {
  user-select: none;
  touch-action: pan-y;
}

.js .is-hidden-with-js {
  display: none;
}

.is-visible-with-js {
  display: none;
}

.js .is-visible-with-js {
  display: block;
}

.js [data-counter] {
  opacity: 0;
}

.js [data-counter][data-counter-ready='true'] {
  opacity: 1;
}
