$accent: #e17b1c;
$second: #3d54a2;
$black: #1a2022;
$dark: #202020;
$darkgrey: #464646;
$grey: #d9dada;
$softgrey: #f4f4f4;
$midgrey: #f0f0f0;
$lightgrey: #f3f7fa;
$linegrey: #cfcfcf;
$white: #ffffff;
$cyan: #0862ce;
$red: #e31716;
$green: #05d389;

$isResponsive: false;
$hasGuides: false;

$font-size: 18px;
$font-sizes: (
  1: 80px,
  2: 56px,
  3: 32px,
  4: 27px,
  5: 24px,
  6: 21px
);

$font-family: 'GothamPro', sans-serif;
$line-height: 1.33;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

$lg: 1599px;
$xl: 1439px;
$l: 1179px;
$md: 959px;
$m: 767px;
$s: 559px;
$xs: 320px;

$breakpoints: (
  'lg': $lg,
  'xl': $xl,
  'l': $l,
  'md': $md,
  'm': $m,
  's': $s,
  'xs': $xs
);

$gap: 30px;
$width: 100%;
$minwidth: 320px;
$maxwidth: 1170px;
$maxwidth2: 1660px;

$layer-1: 100;
$layer-2: 200;
$layer-3: 300;
$layer-4: 400;
$layer-5: 500;
$layer-6: 600;
$layer-7: 700;
$layer-8: 800;
$layer-9: 900;
$layer-9: 900;
$layer-10: 1000;

$ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
