/**
* roll
*/

.roll {
  $this: &;

  position: relative;
  z-index: 0;

  .js & {
    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      z-index: 1;
      background-image: url(/img/spinner.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
    }

    #{$this}__slider {
      opacity: 0;
      pointer-events: none;
      transition: ease opacity 200ms;
    }
  }

  &.is-inited {
    &::after {
      display: none;
    }

    #{$this}__slider {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  &__body {
    flex: 1 1 0;
    margin: 0;
    overflow: hidden;
  }

  &__inner {
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 1;
    list-style: none;
    transition-property: transform;
    text-decoration: none;
    will-change: transform;
  }

  &__item {
    display: block;
    flex-shrink: 0;
    margin: 0;
    position: relative;
    text-decoration: none;
    transition-property: transform;
  }

  .swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }

  .swiper-notification {
    display: none;
  }
}
