//- roll

include /components/post/post

mixin roll({ swiper, link, items })
  .roll.js-roll(
    data-options=swiper
  )
    .roll__slider
      .roll__body.js-roll-body
        .roll__inner.js-roll-swiper
          ul.roll__list.js-roll-list
            each item in items
              li.roll__item.js-roll-item
                +post(item)
