//- button
mixin button(options)
  case options.type

    when 'link'
      a.button( area-label=options.label )&attributes(attributes)!=options.label

    default
      button.button( area-label=options.label )&attributes(attributes)!=options.label
