/**
* button
*/

@import './variations/_is-disabled';
@import './variations/_is-bordered';
@import './variations/_is-wide';
@import './variations/_is-large';
@import './variations/_is-medium';

.button {
  $this: &;

  display: inline-block;
  padding: 16px 32px;
  position: relative;
  z-index: 0;
  color: $white;
  border-radius: 70px;
  background-color: $accent;
  border: none;
  font-weight: $bold;
  font-style: normal;
  font-family: $font-family;
  font-size: 18px;
  line-height: 1;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  will-change: background-color;
  transition: ease background-color 300ms;
  cursor: pointer;

  &:hover {
    background-color: $dark;
  }

  @include is-disabled;
  @include is-bordered;
  @include is-wide;
  @include is-large;
  @include is-medium;
}
