/**
* page
*/

.page {
  $this: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  min-width: $maxwidth + $gap * 2;
  min-height: 100vh;
  margin: auto;
  position: relative;
  z-index: $layer-1;
  background-color: $white;

  &__header {
    width: 100%;
    flex-shrink: 0;
    padding: 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: $layer-1;
    background-color: $white;
    // box-shadow: 0 3px 4px -3px rgba($color: $black, $alpha: 0.15);
  }

  &__content {
    overflow: hidden;
  }

  &__content,
  &__footer {
    width: 100%;
    flex-grow: 1;
  }

  &__footer {
    flex-grow: 0;
    flex-shrink: 0;

    &.is-grey {
      background-color: $grey;
    }
  }
}
