//- catalog-slider

include /components/catalog-slide/catalog-slide

mixin catalog-slider({ items, swiper })
  section.catalog-slider.js-catalog-slider(
    data-options=swiper
  )
    .catalog-slider__container.js-catalog-slider-container
      ul.catalog-slider__list.js-catalog-slider-list
        each item in items
          li.catalog-slider__item.js-catalog-slider-item
            +catalog-slide(item)

    .catalog-slider__controls
      button.catalog-slider__arrow.is-prev.js-catalog-slider-prev
      .catalog-slider__counter.js-catalog-slider-counter=`1 / ${items.length}`
      button.catalog-slider__arrow.is-next.js-catalog-slider-next
