//- doc

mixin doc({ img, title, size, type })
  article.doc
    figure.doc__figure
      img.doc__image(
        src=img
        alt=title
      )
    header.doc__header
      h3.doc__title
        a.doc__link(
          href='#'
          download
          title='Скачать файл' + title
        )=title
      .doc__meta
        span.doc__size=size
        span.doc__type=type
