/**
* doc
*/

.doc {
  $this: &;

  position: relative;

  &__figure {
  }

  &__image {
  }

  &__figure + &__header {
    margin-top: 15px;
  }

  &__header {
  }

  &__title {
    color: $dark;
    font-weight: $bold;
    font-size: 18px;
    line-height: 1.33;
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    transition: ease color 200ms;

    &:hover {
      color: $accent;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: $dark;
    font-weight: $regular;
    font-size: 18px;
    line-height: 1.333;
  }

  &__size {
  }

  &__type {
    margin-left: 5px;
  }
}
