/**
* header
*/

.header {
  $this: &;

  padding: 0 $gap;
  position: relative;
  z-index: $layer-1;
  background-color: $white;
  transition: ease background-color 200ms;

  &.is-grey:not(.is-fixed) {
    background-color: $grey;

    #{$this}__logo {
      transform-origin: top;
      transform: scale(1.4);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $maxwidth2;
    min-width: $maxwidth;
    margin: auto;
    padding: 15px 0;
  }

  &__left {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__center {
    display: flex;
    align-items: center;
    margin: 0 25px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }

  &__nav {
  }

  &__logo {
    transition: transform 200ms ease;
  }

  &__phones {
  }

  &__button {
    margin-left: 25px;
  }

  @media (max-width: 1600px) {
    &.is-grey:not(.is-fixed) {
      background-color: $grey;

      #{$this}__logo {
        transform: scale(1);
      }
    }
  }

  @media (max-width: 1340px) {
    &__center {
      order: 1;
      margin: 0;
    }

    &__left {
      order: 2;
      flex-grow: 1;
      margin-left: 30px;
    }

    &__right {
      order: 3;
      flex-grow: 0;
      margin-left: 20px;
    }

    &__button {
      margin-left: 20px;
    }
  }
}
