//- header

include /components/logo/logo
include /components/nav/nav
include /components/phones/phones
include /components/button/button

mixin header({ nav, logo })
  .header.js-header(
    class=(page.id == 1) ? 'is-grey' : null
  )
    .header__inner
      .header__left
        .header__nav
          +nav({
            items: [
              {
                title: "Каталог продукции",
                url: "/catalog.html",
                subitems: [
                  'Муфты',
                  'Переходы ПЭ',
                  'Комплекты для заделки стыков',
                  'Нагревательный электросварной элемент',
                  'Элементы СОДК',
                  'Сварочный аппарат',
                  'Мастика ГС',
                  'ПЭТ Тара',
                  'Дополнительные материалы',
                ]
              },
              { title: "О компании", url: "/about.html" },
              { title: "Новости", url: "/news.html" },
              { title: "Контакты", url: "/contacts.html" },
              { title: "Галерея", url: "/gallery.html" },
            ]
          })

      .header__center
        .header__logo
          +logo(logo)

      .header__right
        .header__phones
          +phones(['+7 (499) 350-24-45', '+7 (910) 119-94-08'])

        .header__button
          +button({ label: 'Связаться с нами' })(data-modal='callback')
