//- target

include /components/button/button

mixin target(alt)
  .target(
    class=alt && 'is-alt'
  )
    .container
      .grid.is-columns
        if alt
          .col-4
            p.target__notice Вся продукция имеет сертификацию в&nbsp;соответствии с&nbsp;ГОСТ и ISO
            p.target__notice Многоэтапный контроль качества и&nbsp;100% качественные материалы
          .col-8
            p.target__descr <em>Наша миссия –</em> сделать качественный инновационный продукт в&nbsp;своем сегменте рынка в&nbsp;договоренные сроки.

        else
          .col-10.shift-2
            p.target__descr <em>Наша миссия –</em> сделать качественный инновационный продукт в своем сегменте рынка в договоренные сроки.

            .target__info
              .target__year
                .target__number(
                  data-counter='2012'
                  data-counter-step='100'
                ) 2012
                .target__caption год основания компании
              .target__reviews
                .target__number(
                  data-counter='36'
                ) 36
                .target__caption отзывов реальных клиентов

          .col-11.shift-1
            .target__image

          .col-10.shift-2
            p.target__text Успех компании заключается в тщательном отборе партнеров. Мы работаем только с проверенными заводами, выстраивая с ними долгосрочные партнерские отношения. Поэтому мы можем гарантировать нашим клиентам высокое качество продукции и стабильность поставок.
            .target__button
              +button({
                label: 'Больше о компании'
              }).is-large
